In [119]:
%matplotlib inline

import csv
import pandas as pd

In [118]:
resultpath = '../data/water/CA-result-clean.csv'
measuregrouppath = '../data/water/measuregroup.csv'
outputpath = '../data/water/CA-result-withmeasuregroup.csv'

In [100]:
data = pd.read_csv(resultpath)
mcls = pd.read_csv(measuregrouppath, 
                   usecols=['MeasureGroup', 'Category', 'MCL'])
mcls.columns = ['Pollutant', 'Category', 'Mcl']

## PCBs

In [101]:
pcbdata = data.ix[data.PollutantGroup == 'PCBs']\
                .sort_values(['LocationIdentifier', 'StartDate', 'Pollutant'])

In [102]:
sums = pcbdata.groupby(['LocationIdentifier', 'StartDate']).sum()
sums.head(2)

                                    Value  Mclg  ExceedsMclg
LocationIdentifier      StartDate
CALWR_WQX-02N06E11H004M 2006-05-09    0.0   0.0          0.0
                        2006-09-13    0.0   0.0          0.0

In [103]:
groups = pcbdata.groupby(['LocationIdentifier', 'StartDate']).first()
groups.head(2)

                                   Medium MediumSubdivision StartTime  \
LocationIdentifier      StartDate
CALWR_WQX-02N06E11H004M 2006-05-09  Water               NaN  15:42:00
                        2006-09-13  Water               NaN  10:10:00

                                   TimeZone     Pollutant PollutantGroup  \
LocationIdentifier      StartDate
CALWR_WQX-02N06E11H004M 2006-05-09      PST  Aroclor 1016           PCBs
                        2006-09-13      PST  Aroclor 1016           PCBs

                                    Unit  Value  Mclg ExceedsMclg Comment
LocationIdentifier      StartDate
CALWR_WQX-02N06E11H004M 2006-05-09  mg/L    0.0   0.0       False     NaN
                        2006-09-13  mg/L    0.0   0.0       False     NaN

In [104]:
groups = groups.drop(['Value', 'Mclg', 'ExceedsMclg'], axis=1)
groups.head(2)

                                   Medium MediumSubdivision StartTime  \
LocationIdentifier      StartDate
CALWR_WQX-02N06E11H004M 2006-05-09  Water               NaN  15:42:00
                        2006-09-13  Water               NaN  10:10:00

                                   TimeZone     Pollutant PollutantGroup  \
LocationIdentifier      StartDate
CALWR_WQX-02N06E11H004M 2006-05-09      PST  Aroclor 1016           PCBs
                        2006-09-13      PST  Aroclor 1016           PCBs

                                    Unit Comment
LocationIdentifier      StartDate
CALWR_WQX-02N06E11H004M 2006-05-09  mg/L     NaN
                        2006-09-13  mg/L     NaN

In [105]:
pcbs = groups.join(sums).reset_index()
pcbs.Pollutant = 'PCBs'

## HAA5

In [106]:
haa5data = data.ix[data.PollutantGroup == 'HAA5']\
                .sort_values(['LocationIdentifier', 'StartDate', 'Pollutant'])

In [107]:
sums = haa5data.groupby(['LocationIdentifier', 'StartDate']).sum()
sums.head(2)

                                    Value  Mclg  ExceedsMclg
LocationIdentifier      StartDate
CALWR_WQX-11N06E17D001M 2004-05-19    0.0  0.06          0.0
                        2004-06-16    0.0  0.06          0.0

In [108]:
groups = haa5data.groupby(['LocationIdentifier', 'StartDate']).first()
groups.head(2)

                                   Medium  MediumSubdivision StartTime  \
LocationIdentifier      StartDate
CALWR_WQX-11N06E17D001M 2004-05-19  Water                NaN  12:10:00
                        2004-06-16  Water                NaN  14:03:00

                                   TimeZone           Pollutant  \
LocationIdentifier      StartDate
CALWR_WQX-11N06E17D001M 2004-05-19      PST  Dibromoacetic acid
                        2004-06-16      PST  Dibromoacetic acid

                                   PollutantGroup  Unit  Value  Mclg  \
LocationIdentifier      StartDate
CALWR_WQX-11N06E17D001M 2004-05-19           HAA5  mg/L    0.0  0.06
                        2004-06-16           HAA5  mg/L    0.0  0.06

                                   ExceedsMclg  Comment
LocationIdentifier      StartDate
CALWR_WQX-11N06E17D001M 2004-05-19       False      NaN
                        2004-06-16       False      NaN

In [109]:
groups = groups.drop(['Value', 'Mclg', 'ExceedsMclg'], axis=1)
groups.head(2)

                                   Medium  MediumSubdivision StartTime  \
LocationIdentifier      StartDate
CALWR_WQX-11N06E17D001M 2004-05-19  Water                NaN  12:10:00
                        2004-06-16  Water                NaN  14:03:00

                                   TimeZone           Pollutant  \
LocationIdentifier      StartDate
CALWR_WQX-11N06E17D001M 2004-05-19      PST  Dibromoacetic acid
                        2004-06-16      PST  Dibromoacetic acid

                                   PollutantGroup  Unit  Comment
LocationIdentifier      StartDate
CALWR_WQX-11N06E17D001M 2004-05-19           HAA5  mg/L      NaN
                        2004-06-16           HAA5  mg/L      NaN

In [110]:
haa5 = groups.join(sums).reset_index()
haa5.Pollutant = 'HAA5'

## TTHMs

In [111]:
tthmdata = data.ix[data.PollutantGroup == 'TTHMs']\
                .sort_values(['LocationIdentifier', 'StartDate', 'Pollutant'])

In [112]:
sums = tthmdata.groupby(['LocationIdentifier', 'StartDate']).sum()
sums.head(2)

                                       Value  Mclg  ExceedsMclg
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05  0.000049  0.20          0.0
                        1995-02-23  0.000103  0.14          0.0

In [113]:
groups = tthmdata.groupby(['LocationIdentifier', 'StartDate']).first()
groups.head(2)

                                   Medium MediumSubdivision StartTime  \
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05  Water               NaN  12:00:00
                        1995-02-23  Water               NaN  12:00:00

                                   TimeZone             Pollutant  \
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05      PST  Chlorodibromomethane
                        1995-02-23      PST            Chloroform

                                   PollutantGroup  Unit     Value  Mclg  \
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05          TTHMs  mg/L  0.000002  0.06
                        1995-02-23          TTHMs  mg/L  0.000051  0.07

                                   ExceedsMclg  \
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05       False
                        1995-02-23       False

                                                                              Comment
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05  Old STORET Parameter Code: 32105¶Description: ...
                        1995-02-23  Old STORET Parameter Code: 32106¶Description: ...

In [114]:
groups = groups.drop(['Value', 'Mclg', 'ExceedsMclg'], axis=1)
groups.head(2)

                                   Medium MediumSubdivision StartTime  \
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05  Water               NaN  12:00:00
                        1995-02-23  Water               NaN  12:00:00

                                   TimeZone             Pollutant  \
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05      PST  Chlorodibromomethane
                        1995-02-23      PST            Chloroform

                                   PollutantGroup  Unit  \
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05          TTHMs  mg/L
                        1995-02-23          TTHMs  mg/L

                                                                              Comment
LocationIdentifier      StartDate
11NPSWRD-GOGA_ORION_LCC 1994-12-05  Old STORET Parameter Code: 32105¶Description: ...
                        1995-02-23  Old STORET Parameter Code: 32106¶Description: ...

In [115]:
tthms = groups.join(sums).reset_index()
tthms.Pollutant = 'TTHMs'

## Re-joining

In [116]:
nonaggs = data.ix[~data.PollutantGroup.isin(['PCBs', 'HAA5', 'TTHMs'])]
rejoined = pd.concat([nonaggs, pcbs, haa5, tthms]).drop('PollutantGroup', axis=1)

## MCLs

In [117]:
withmcls = pd.merge(rejoined, mcls, on="Pollutant")
withmcls['ExceedsMcl'] = withmcls.Value > withmcls.Mcl

withmcls = withmcls[['LocationIdentifier',
                     'Medium',
                     'MediumSubdivision',
                     'StartDate',
                     'StartTime',
                     'TimeZone',
                     'Category',
                     'Pollutant',
                     'Unit',
                     'Mclg',
                     'Mcl',
                     'Value',
                     'ExceedsMclg',
                     'ExceedsMcl',
                     'Comment']]

In [120]:
withmcls.to_csv(outputpath, quoting=csv.QUOTE_ALL, index=False)